<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>

<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>修改电影</title>
</head>
<body>
<div class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-user-add">
		<body>
			<div class="row cl">
				<div style="color: red;font-size: 35px;font-weight:bold;text-align: center">
					修改电影
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>
					电影标题：</label>
				<div class="formControls col-xs-6 col-sm-6">
					<input type="text" class="input-text" value="{{ video.name }}" placeholder="请输入电影名称(格式：XXXX)" id="name" name="name">
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>
					导演：</label>
				<div class="formControls col-xs-6 col-sm-6">
					<input type="text" class="input-text" value="{{ video.director }}" placeholder="请输入导演名字(格式：XXXX)" id="director" name="director">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>
					制片年份：</label>
				<div class="formControls col-xs-6 col-sm-6">
					<input type="text" class="input-text" value="{{ video.year }}" placeholder="请输入制片年份(格式：XXXX年XX月XX日)" id="year" name="year">
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red">*</span>
					影片地区：</label>
				<div class="formControls col-xs-6 col-sm-6">
					<input type="text" class="input-text" value="{{ video.region }}" placeholder="请输入影片地区(格式：XXXX)" id="region" name="region">
				</div>
			</div>

			
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">电影简介：</label>
				<div class="formControls col-xs-6 col-sm-6">
					<textarea name="intro" cols="" rows="" class="textarea" placeholder="请输入电影简介......"*10-100" dragonfly="true" nullmsg="备注不能为空！" onkeyup="$.Huitextarealength(this,200)">{{ video.intro }}</textarea>
					<p class="textarea-numberbar">
						<!-- <em class="textarea-length">0</em>/200</p> -->
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red"></span>
					图片地址：</label>
				<div class="formControls col-xs-5 col-sm-5">
					<input type="text" class="input-text" value="{{ video.video_img1 }}" placeholder="请输入图片地址[格式：http://qiniu.weiinng.cn/XXXXXX]" id="video_img1" name="video_img1">
				</div>
				<div class="formControls col-xs-4 col-sm-2">
					<b style="color: red">(--可不填--)</b>
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red"></span>
					电影地址：</label>
				<div class="formControls col-xs-5 col-sm-5">
					<input type="text" class="input-text" value="{{ video.video_src }}" placeholder="请输入电影地址[格式：http://qiniu.weiinng.cn/XXXXXX]" id="video_src" name="video_src">
				</div>
				<div class="formControls col-xs-4 col-sm-2">
					<b style="color: red">(--可不填--)</b>
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red"></span>
					轮播图地址：</label>
				<div class="formControls col-xs-5 col-sm-5">
					<input type="text" class="input-text" value="{{ video.video_slideshow }}" placeholder="请输入轮播图地址[格式：http://qiniu.weiinng.cn/XXXXXX]" id="video_slideshow" name="video_slideshow">
				</div>
				<div class="formControls col-xs-4 col-sm-2">
					<b style="color: red">(--可不填--)</b>
				</div>
			</div>
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2">
					<span class="c-red"></span>
					热度：</label>
				<div class="formControls col-xs-6 col-sm-6">
					<input type="text" class="input-text" value="{{ video.hot }}" placeholder="热度默认为1.0【范围（1.0~10.0），越大越靠前】" id="hot" name="hot">
				</div>
			</div>

			
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>分类：</label>
				<div class="formControls col-xs-4 col-sm-2">
					<span class="select-box">
					<select name="classify_id" class="select">
							{% for i in classify %}
							<option value="{{ i.id }}">{{ i.name }}</option>
							{% end %}
							
					</select>
					</span>
				</div>
				<div class="formControls col-xs-4 col-sm-2">
					<a href="/product_category_add" style="color: red">点击添加分类</a>
				</div>
			</div>

			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标签：</label>
				<div class="formControls col-xs-4 col-sm-2">
					<span class="select-box">
					<select name="thiscat_id" class="select">
							{% for i in label %}
							<option value="{{ i.id }}">{{ i.name }}</option>
							{% end %}
					</select>
					</span>
				</div>
				<div class="formControls col-xs-4 col-sm-2">
					<a href="/product_label_add" style="color: red">点击添加标签</a>
				</div>
			</div>


			{% if video.is_vip == 0 %}
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>会员观看：</label>
				<div class="formControls col-xs-6 col-sm-6 col-sm-6">
					<div class="radio-box">
							<input name="is_vip" type="radio" id="sex-1" checked value="0">
							<label for="sex-1">否</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-2" name="is_vip" value="1">
							<label for="sex-2">是</label>
						</div>
				</div>
			</div>
			{% elif video.is_vip == 1 %}
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>会员观看：</label>
				<div class="formControls col-xs-6 col-sm-6 col-sm-6">
					<div class="radio-box">
							<input name="is_vip" type="radio" id="sex-1" value="0">
							<label for="sex-1">否</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-2" name="is_vip" checked value="1">
							<label for="sex-2">是</label>
						</div>
				</div>
			</div>
			{% end %}

			{% if video.is_selection == 0 %}
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否精选：</label>
				<div class="formControls col-xs-6 col-sm-6 col-sm-6">
					<div class="radio-box">
							<input name="is_selection" type="radio" id="sex-1" checked value="0">
							<label for="sex-1">否</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-2" name="is_selection" value="1">
							<label for="sex-2">是</label>
						</div>
				</div>
			</div>
			{% elif video.is_selection == 1 %}
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>是否精选：</label>
				<div class="formControls col-xs-6 col-sm-6 col-sm-6">
					<div class="radio-box">
							<input name="is_selection" type="radio" id="sex-1" value="0">
							<label for="sex-1">否</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-2" name="is_selection" checked value="1">
							<label for="sex-2">是</label>
						</div>
				</div>
			</div>
			{% end %}


			{% if video.is_show == 1 %}
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>发布状态：</label>
				<div class="formControls col-xs-6 col-sm-6 col-sm-6">
					<div class="radio-box">
							<input name="is_show" type="radio" id="sex-1" checked value="1">
							<label for="sex-1">发布</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-2" name="is_show" value="0">
							<label for="sex-2">不发布</label>
						</div>
				</div>
			</div>
			{% elif video.is_show == 0 %}
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>发布状态：</label>
				<div class="formControls col-xs-6 col-sm-6 col-sm-6">
					<div class="radio-box">
							<input name="is_show" type="radio" id="sex-1" value="1">
							<label for="sex-1">发布</label>
						</div>
						<div class="radio-box">
							<input type="radio" id="sex-2" name="is_show" checked value="0">
							<label for="sex-2">不发布</label>
						</div>
				</div>
			</div>
			{% end %}




			<div class="row cl">
				<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
					<button  class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存提交</button>
					<button  class="btn btn-default radius" type="button"><a href="/film_list">取消</a></button>
				</div>
			</div>

		
	</form>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
$(function(){
	
});
</script>
</body>
</html>