<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="../static/lib/html5shiv.js"></script>
<script type="text/javascript" src="../static/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/static/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="../static/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>公告详情</title>
</head>
<body>
	<div class="cl pd-20" style=" background-color:#5bacb6">
		{% if video_info['notice_img']%}
		<img class="avatar size-XL l" src="{{video_info['notice_img']}}">


		{% else %}

		{% end %}
		<dl style="margin-left:80px; color:#fff">
			<dt>
				<span class="f-18">{{video_info["name"]}}</span>
				<span class="pl-10 f-12">评分：</span>
			</dt>
			<dd class="pt-10 f-12" style="margin-left:0">这管理员很懒，什么也没有留下</dd>
		</dl>
	</div>
<div class="pd-20" style="background-color: orange">
	<table class="table" border="5">
		<tbody>

			<tr>
				<th class="text-r">公告名称：</th>
				<td colspan="2"><a>{{video_info["name"]}}</a></td>
			</tr>

			<tr>
				<th class="text-r">公告封面图：</th>
				{% if video_info['notice_img']%}
				<td colspan="2"><img src="{{video_info['notice_img']}}" width="200" height="150" ></td>
				{% else %}
				<th class="text-l" colspan="3"><a href="/notice_picture/{{video_info['id']}}">还没有图片哦，点击添加</a></th>
				{% end %}
			</tr>
			
			<tr>
				<th class="text-r">发布状态：</th>
				<td colspan="2">{{video_info["is_show"]}}</td>
			</tr>
			
			<tr>
				<th class="text-r">发布时间：</th>
				<td colspan="2">{{video_info["creation_time"]}}</td>
			</tr>
			
		
		</tbody>
	</table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> 
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
</body>
</html>