<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" class="form form-horizontal">
        <div>

            <input placeholder="请输入手机号" name='phone'>
            <!-- <input placeholder="输入验证码" name='code'> -->
            <button onclick="count()">发送验证码</button>
    



        </div>
    </form>
</body>
<script>
    function count(phone){
        $.ajax({
            usl:'/phone',
            type:'post',
            dataType:'json',
            data:{'phone':phone},

        })
    }


</script>
</html>