<!doctype html>
<html lang="zh">

    <center><h1 style="color: blue">{{ info }}</h1></center>
        <h2 style="color: #0a6999">标题：{{ label.name }}</h2>
        <tr>
            <h2 style="color: #0a6999">图片信息：</h2>
            {% if label.label_img %}
            <center><td colspan="2"><img src="{{ label.label_img }}" width="400" height="250" >
                <button  class="btn btn-default radius" type="button">
                    <a title="删除图片" href="javascript:;" onclick="label_picture_delete({{ label.id }})" class="ml-5" style="color:red">删除图片</a>
                </button>
            
            </td></center>
            {% else %}
            <th class="text-l" colspan="2"><a href="/product_label_picture/{{ label.id }}">
                <center><h2 style="color:red">还没有图片哦，点击添加</h2></center>
            </a></th>
            {% end %}
        </tr>
        <br>

<head>
<script type="text/javascript" src="/static/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script> 
<script type="text/javascript">
    /*
        参数解释：
        title	标题
        url		请求的url
        id		需要操作的数据id
        w		弹出层宽度（缺省调默认值）
        h		弹出层高度（缺省调默认值）
    */
    
    /*-删除*/
    function label_picture_delete(id){
        layer.confirm('确认要删除吗？',function(index){
            $.ajax({
                type: 'post',
                url: '/label_picture_delete/'+id,
                dataType: 'json',
                data : { 'id' : id },
                success: function(data){
                    layer.msg('已删除!',{icon:1,time:1000});
                    window.location.reload();
                },
                error:function(data) {
                    console.log(data.msg);
                },
            });		
        });
    }
    
    </script>
</body>
</html>