<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>上传文件</title>
    <link href='/static/css/Huploadify.css' rel='stylesheet' type='text/css' />
    <script src='/static/js/jquery-1.12.1.min.js'></script>
    <script src='/static/js/jquery.Huploadify.js'></script>
</head>
<body>

		<center><h1 style="color: blue">{{info}}</h1></center>
		<center><h2 style="color: red">上传时，请不要做任何操作</h2></center>
		<center><h2 style="color: red">上传完毕后自动会跳转管理页面，如不确定上传是否成功 可点击详情进行查看</h2></center>


        <h2 style="color: #0a6999">标题：{{micro_video.name}}</h2>
        <br>



		<div id="upload"></div>
        <div id="result"></div>
        <div style="text-align: center">
            <button onClick="layer_close();" class="btn btn-default radius" type="button"><a href="/lmicro">取消</a></button>
        </div>

    <script>

	let name = $("#t1").val();
	var filename;
    var up = $('#upload').Huploadify({
		auto:false,
		fileTypeExts:'*.*',
        multi:true,
		fileSizeLimit:99999999999,
        showUploadedPercent:true,
        formData:{'name':'123'},
		showUploadedSize:true,
        removeTimeout:9999999,
        method: 'post',
		uploader:'/lmicro_picture/{{ micro_video.id }}',
		onUploadStart:function(file){
            console.log(file.name+'开始上传');
            //$("#upload").Huploadify("settings","formData",{'name':'someValue'});
            var goods = $('#goods').val();
            var order = $('#order').val();
            uploadify_option.formData={goods:goods, order:order};
		},
		onInit:function(obj){
			console.log('初始化');
			console.log(obj);
		},
		onUploadComplete:function(file){
			console.log(file.name+'上传完成');
			window.location.replace("/lmicro");

		},
		onCancel:function(file){
			console.log(file.name+'删除成功');
		},
		onClearQueue:function(queueItemCount){
			console.log('有'+queueItemCount+'个文件被删除了');
		},
		onDestroy:function(){
			console.log('destroyed!');
		},
		onSelect:function(file){
			console.log(file.name+'加入上传队列');
		},
		onQueueComplete:function(queueData){
			console.log('队列中的文件全部上传完成',queueData);
		},
		//接受后台返回的参数
		'onUploadSuccess' : function(file, data, response) {
            // alert('The file ' + file.name + ' was successfully uploaded with a response of ' + response + ':' + data);
        }
	});
    </script>
</body>
</html>